.header{
  text-align: center;
  background-color: #2962A7;
  background-image: url("img/wallpaper2.jpg");
  height: 303px;
  color: white;
  padding: 1%;
}

.HeaderDesc{
  color: #D7434F; 
}

body{
  font-family: Arial;
  margin: 0;
}

.main{
  display: flex;
}

.navbar{
  background-color: #BBACAF;
  color: white;
  text-align: left;
  margin: 1;
  padding: 10px 20px;
}

.navbar a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.navbar a:hover{
  background-color: #DAD4E0;
  color: #58699d;
}

.article h2{
  color: #385072;
}

.article h5{
  color: #CB384B;
}

.article{
  width: 100%;
  border-left: #BBACAF;
  float: right;
  margin-left: 2%;
  margin-right: 2%;
}

.fakeimg{
  background-color: #BBACAF;
  height: auto;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

.fakeimg img{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.side h2, h3, a{
  color: #385072;
}

.side h5{
  color: #CB384B;
}

.side{
  width: 60%;
  float: left;
  border-right: #9B847B 5px solid;
  margin-left: 2%;
}

.side a{
  text-decoration: none;
}

.toursnews{
  background-color: #BBACAF;
  width: 98%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
}

.toursnews img{
  border-radius: 15px;
  margin: 1%;
}

.side a{
  font-weight: bold;
}

.side a:hover{
  background-color: #DAD4E0;
  color: #BBACAF;
}

.footer h2{
 color: white; 
}

.footer h5{
  color: #CB384B;
}

.footer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9B847B;
  background-image: url("img/footer.jpg");
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px){
  .header{
      width: 100%;
      display: block;
  }

  .HeaderDesc{
      width: 100%;
      display: block;
  }

  .main{
      display: block;
      width: 100%;
      box-sizing: border-box;
  }

  .navbar{
      width: 100%;
      text-align: center;
      display: block;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

  }

  .navbar a{
      width: 100%;
      display: inline-block;
      margin: 3% 0;
      box-sizing: border-box;
  }

  .side{
      width: 100%;
      border: none;
      border-left: 2%;
  }

  .side h2, h3, h5{
      width: 100%;
    
  }

  .fakeimg{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
  }

  .fakeimg img{
      width: 100%;
      height: auto;
      margin: 0;
      padding: 5px;
      box-sizing: border-box;
  }

  .toursnews{
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0;
  }

  .toursnews a{
      font-weight: bolder;
      text-decoration: none;
      margin-left: 10px;
  }

  .article{
      width: 100%;
      display: block;
      padding: px;
    
  }
  .article h2{
      margin-left: 4%;
  }
  .article p{
      margin-left: 4%;
  }
  .article h5{
      margin-left: 4%;
  }
  .article div{
      margin-left: 4%;
  }
  .footer{
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
}